<h5>Enlaces</h5>
<ul>
    <a [routerLink]="['envios']"><li>Envios</li></a>
    <a [routerLink]="['contacto']"><li>Contacto</li></a>
    <li>Términos y Condiciones</li>
    <a [routerLink]="['politicas']"><li>Política de Cambios y garantías</li></a>
    <a href="https://www.instagram.com/"><li>Siguenos en Instagram</li></a>
</ul>

<div class="redes-container">
    <ul>
        <li><a href="https://www.facebook.com" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.twitter.com" class="twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.pinterest.com" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
        <li><a href="https://www.linkedin.com" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
        
    </ul>
</div>
<h2 class="titulo-final">Joselin Solís Arias</h2>