<nav class="nav nav-pills nav-fill">
        <a class="navbar-brand" href="#">
          <img src="/assets/icono.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>
    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    <a class="nav-link" [routerLink]="['historia']">Historia</a>
    <a class="nav-link" [routerLink]="['hilos']">Tipos de hilos</a>
    <a class="nav-link" [routerLink]="['tecnica']">Técnicas</a>
    <a class="nav-link" [routerLink]="['accesorios']">Accesorios</a>
    <a class="nav-link" [routerLink]="['puntos']">Puntos</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</nav>