<form class="formulario">
    <div>   
        <input type="text" id="name" name="name" required placeholder="Nombre" minlength="8" maxlength="50" size="50"><br>

        <input type="text" id="email" name="email" required placeholder="Email" minlength="8" maxlength="30" size="30"><br>

        <input type="text" id="telefono" name="telefono" required placeholder="Número de teléfono" minlength="8" maxlength="30" size="30"><br>

        <textarea type="textarea" id="comentario" name="comentario" required placeholder="Comentario" minlength="8" maxlength="100" size="100"></textarea>
    </div>
    <div class="boton">
        <button>Enviar</button>
    </div>
</form>