<h2>Envíos</h2>
   <h5> ¡Hola! Si tienes dudas de como hacemos que tu paquete llegue a tus manos, acá te dejamos todo el detalle. </h5>
    <h5>VALORES</h5> 

    <ul style="line-height: 100%"> 
        <li><strong>Toda la Región Metropolitana:</strong> $2.900 (se excluye Til-Til y Alhue, para envíos a esas comunas favor contactarnos)</li>
        <li><strong>Región de Valparaíso:</strong> $3.500 </li>
        <li> <strong>Otras Regiones:</strong> Cuando estés en el carrito de compra, se calcula de manera automática el costo del envío según el 
         peso y tamaño de tu paquete. Puedes escoger el courrier que más te acomode.</li>
        <li><strong> Retiro en oficina:</strong> Costo cero, se puede retirar una vez que llegue el correo informando que tu pedido esta preparado, 
         (el tiempo de preparación es de 1 día hábil) Si necesitas coordinar para una entrega especifica ¡Escríbenos!. 
         La dirección de nuestra oficina es, Lo Beltrán 1946, Vitacura, retiro de Lunes a Viernes de 10:00 a 17:00 hrs 
         (excluyendo los feriados)</li>
    
    <li><strong>Retiro 24/7: </strong>Costo Cero, La dirección de retiros 24/7 es Fontana Rosa 7150, Las Condes. (es una dirección residencial, 
    por lo que hay conserje 24/7) Tu compra se deja en conserjería al nombre del comprador. El paquete puede estar máximo 
    3 días en conserjería. Si te pasas de esos días, por favor comunícate a nuestro whatsapp. Se puede retirar una vez que 
    llegue el correo informando que tu pedido esta preparado, (el tiempo de preparación es de 1 día hábil)</li>
    </ul>

    <h5>TIEMPOS DE DESPACHO:</h5> 
    
   <ul style="line-height: 100%"> 
       <li>Si eres de la RM tu compra sale de nuestra oficina al día hábil siguiente después de efectuada tu compra. La empresa de 
        despachos llega a las 13:00 horas aprox, si compraste antes de las 11:00 horas del mismo día, lo más probable es que tu 
        paquete salga ese mismo día, (a excepción de los kits personalizados.)</li>
        <li>Luego de eso puede trascurrir entre 1 día a 2 días para la entrega a domicilio.) (El Domingo la empresa de despachos no reparte.)</li>
        <li>Si es que dentro de estos días tu paquete no llega, favor informar inmediatamente a nuestro whatsapp.</li>
        <li><strong> Regiones: </strong>La compra se le entregará al courrier al día siguiente hábil. El tiempo dependerá del courrier escogido y 
        también de la región y su lejanía. Una vez entregado el paquete al currier, de forma automática te llegará un correo con 
        tu número de seguimiento. Puedes rastrear tu pedido en la pagina web del courrier que seleccionaste.</li>
   </ul>
    <h3>ATENCIÓN</h3>
    <ul style="line-height: 100%">
        <li>Si los datos de envío tienen algún error en la dirección, departamento, comuna, teléfono, correo o cualquier información, 
            el paquete será devuelto a nuestra oficina, lo que ocasionará un atraso en el envío y se cobrará el despacho nuevamente.</li>
        <li>Si necesitas hacer un cambio, el costo de envío corre por cuenta del cliente.</li>
    </ul>

    <p>Si tienes alguna consulta no dudes en contactarnos por:</p>
    <ul style="line-height: 100%">
        <li type="square">Instagram: @bordados.cl</li>
        <li type="square">Whatsapp +569 0303 0456</li>
        <li type="square"> Mail contacto@bordados.cl</li>
    </ul>   
