
<div class="container">
    <div class="card text-center">
        <div class="card-header">
          <h3>Inicio de Sesión</h3>
        </div>
        <div class="card-body p-4">
            <input class="form-control m-2" type="text" placeholder="correo electrónico" [(ngModel)]="usuario.email">

            <input class="form-control m-2" type="password" placeholder="contraseña" [(ngModel)]="usuario.password"><br>

            <a href="#">Olvide mi password</a><br>

            <button class="btn btn-secondary m-2" (click)="Ingresar()">Ingresar</button><br>
            <button class="btn-google" (click)="IngresarConGoogle()"><img src="./assets/btn_google_light_normal_ios.svg"> Ingresar con Google</button><br>

            <label>No tengo cuenta <a routerLink="/registro">Registrarse</a></label>
           
        </div>
    </div>
</div>