<h2>Política de cambios y garantias</h2>

<p>
Nuestro objetivo es que siempre quedes satisfech@ con tus compras y haremos lo posible por cumplirte dentro de 
lo que la ley estipula. En caso de que tuvieras algún inconveniente por favor ten en cuenta nuestras 
políticas para resolución de problemas.
</p>

<h4>Garantía</h4>
<p>Si tu producto presenta alguna falla, tienes 30 días para hacer el cambio desde la fecha de recepción del producto. </p>
<ul>
    <li>Cambiar el producto</li>
    <li>un crédito en la tienda para futuras compras</li>
    <li>Pedir la devolución del dinero</li>
</ul>
<p> En cualquier caso debes enviarnos un mail a contacto@bordados.cl o escribirnos a nuestro whatsapp +569 0303 0456 para 
coordinar la forma de solucionar el problema.</p>

<h4>Cambios</h4>
<p>Hacemos cambios pero no hacemos devoluciones de dinero. No hacemos cambios de los productos personalizados.
La garantía legal de devolución de dinero no aplica si te arrepentiste de tu compra, pero de todas formas 
podrás hacer el cambio por cualquier otro producto ofrecido por Bordados. Si no hubiese ninguno puedes dejar 
un crédito en la tienda para compras futuras.
En éste caso envíanos un mail a contacto@bordados.cl y te indicaremos todos los pasos a seguir.
Puedes leer la ley del consumidor del SERNAC <a href="https://www.sernac.cl/portal/618/w3-propertyvalue-59300.html">aquí</a></p>
