

<h1 class="titulo">Técnicas de bordado</h1>
<div >
    <div class="menu">
        <h3>Luneville</h3>
        <li>
        Luneville es una técnica de bordado de Alta Costura francesa. Este tipo de bordado es utilizado característicamente por las grandes 
        casas de Alta Costura (Haute Couture), tales como Chanel, Dior, McQueen,  etc. Esta técnica se utiliza principalmente para bordar 
        vestuario, gracias a sus pulcras terminaciones, pero también es aplicable a un sinfín de proyectos personales que te propongas, 
        tales como aplicaciones bordadas, joyas, prendedores, bordado decorativo, etc.

        Para esta técnica se utiliza un bastidor especial rectangular, con cintas de algodón, que servirán para tensar correctamente la 
        tela que usemos.
        </li>
        <li><img class="luneville" width="200px" height="200px" src="./assets/luneville.jpeg">
        </li>        
    </div>
</div>
<div>
    <div class="menu">
        <h3>Goldwork</h3>
        <li>
            El bordado de oro es un tipo de bordado que utiliza hebras de oro (o en menor medida, plata). El bordado de oro se hace 
            generalmente sobre paño, terciopelo o seda. Sobre un tafetán forrado con lienzo fuerte se dibuja el asunto. Se hilvana a la 
            tela que se va a bordar y se cubre toda la superficie del dibujo con hilillo de oro o plata grueso, pasadas y aseguradas por 
            las dos puntas. Para bordar de este modo hay que hacer rellenos para dar realce los cuales se hacen con cartulina amarilla de 
            oro o con hebras de torzal del mismo color.
        </li>
        <li>
            <img class="goldwork" width="200px" height="200px" src="./assets/goldwork.jpeg">
        </li>
    </div>
</div>
<div>
    <div class="menu">
        <h3>Bordado tradicional</h3>
        <li>
            El bordado es un arte que consiste en la ornamentación de una superficie flexible, generalmente una tela, por medio de hebras textiles.
            Los romanos llamaban a esta ornamentación plumarium opus, en virtud de la semejanza que tienen algunas de estas labores con la pluma del ave. 
            También la denominaban opus phrygium ya porque la obtenían del comercio con los frigios quienes a su vez la traían de oriente o ya por 
            suponerla de procedencia e invención frigia. Y como se consideraba en el bordado un procedimiento similar a la pintura llamaban a las 
            vestiduras bordadas túnica picta o toga picta, o bien túnica palmata, aludiendo a los bordados en forma de palmetas con que las adornaban.
            Los hilos que se emplean en el bordado pueden ser los mismos que sirven para el tejido, aunque no necesariamente, pues depende del tipo de 
            bordado, pero sobre todo se utilizan los de algodón, seda, lana y lino, todos con variados colores y los de plata y oro con las formas diferentes 
            que se adoptan en tejeduría. Con ellos, se ensartan a veces gemas, perlas, abalorios y lentejuelas metálicas, a lo que se conoce como bordado 
            con pedrería. 

        </li>
        <li>
            <img class="bordado" width="200px" height="200px" src="./assets/bordado.jpeg">
        </li>
    </div>
</div>